# Set default behavior to automatically normalize line endings.
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# behavior for image files
*.jpg   binary
*.png   binary
*.gif   binary

# jar files
*.jar   binary
